Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit, run-pre-commit-frontned

run-pre-commit:
  name: run-pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontned:
  name: run-pre-commit-frontned
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Add EWOK run spec function and schema (#2850)
  src/helm/benchmark/run_specs/experimental_run_specs.py
  src/helm/benchmark/static/schema_ewok.yaml
Due: run-pre-commit

Update Llama 3.1 Instruct Turbo sequence lengths (#2880)
  src/helm/config/model_deployments.yaml
Due: none

Update project titles and descriptions (#2881)
  helm-frontend/project_metadata.json
  helm-frontend/src/components/ProjectCard.tsx
Due: run-pre-commit-frontned

Fix random seed for EWOK scenario
  src/helm/benchmark/scenarios/ewok_scenario.py
Due: run-pre-commit

Fix random seed for EWOK scenario (#2882)
  src/helm/benchmark/scenarios/ewok_scenario.py
Due: run-pre-commit

fixes
  src/helm/benchmark/annotation/model_as_judge_annotator.py
  src/helm/benchmark/annotation/simple_safety_tests_annotator.py
  src/helm/benchmark/metrics/simple_safety_tests_metrics.py
  src/helm/benchmark/run_specs/safety_run_specs.py
  src/helm/benchmark/scenarios/simple_safety_tests_scenario.py
Due: run-pre-commit

fixes
  src/helm/benchmark/annotation/model_as_judge_annotator.py
  src/helm/benchmark/annotation/xstest_annotator.py
  src/helm/benchmark/metrics/safety_metrics.py
Due: run-pre-commit

remove bbq change for now
  src/helm/benchmark/run_specs/classic_run_specs.py
Due: run-pre-commit

fix sonnet model name
  src/helm/benchmark/annotation/model_as_judge_annotator.py
  src/helm/benchmark/annotation/simple_safety_tests_annotator.py
  src/helm/benchmark/metrics/safety_metrics.py
Due: run-pre-commit

remove unnecessary super
  src/helm/benchmark/annotation/model_as_judge_annotator.py
Due: run-pre-commit

fix docstring
  src/helm/benchmark/scenarios/xstest_scenario.py
Due: run-pre-commit

Update BBQ to be zero shot for consistency with Safety results
  src/helm/benchmark/run_specs/classic_run_specs.py
Due: run-pre-commit

Fix issues with wild subset of webpages
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/scenarios/vision_language/image2structure/webpage_scenario.py
Due: run-pre-commit

Few fixes in LaTeX parsing (#2879)
  src/helm/benchmark/scenarios/vision_language/image2structure/utils_latex.py
Due: run-pre-commit

Adding wild data and changing 'real' to 'wild' (#2878)
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/scenarios/vision_language/image2structure/latex_scenario.py
  src/helm/benchmark/scenarios/vision_language/image2structure/webpage_scenario.py
  src/helm/benchmark/static/schema_image2structure.yaml
Due: run-pre-commit

Rename image2structure -> image2struct + LaTeX fixes and optim
  setup.cfg
  src/helm/benchmark/annotation/image2struct/__init__.py
  src/helm/benchmark/annotation/image2struct/image_compiler_annotator.py
  src/helm/benchmark/annotation/image2struct/latex_compiler_annotator.py
  src/helm/benchmark/annotation/image2struct/lilypond_compiler_annotator.py
  src/helm/benchmark/annotation/image2struct/webpage_compiler_annotator.py
  src/helm/benchmark/metrics/vision_language/image_metrics.py
  src/helm/benchmark/metrics/vision_language/image_utils.py
  src/helm/benchmark/presentation/run_entries_image2struct.conf
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/scenarios/scenario.py
  src/helm/benchmark/scenarios/vision_language/image2struct/__init__.py
  src/helm/benchmark/scenarios/vision_language/image2struct/chart2csv_scenario.py
  src/helm/benchmark/scenarios/vision_language/image2struct/image2struct_scenario.py
  src/helm/benchmark/scenarios/vision_language/image2struct/latex_scenario.py
  src/helm/benchmark/scenarios/vision_language/image2struct/musicsheet_scenario.py
  src/helm/benchmark/scenarios/vision_language/image2struct/utils_latex.py
  src/helm/benchmark/scenarios/vision_language/image2struct/webpage/Gemfile.default
  src/helm/benchmark/scenarios/vision_language/image2struct/webpage/__init__.py
  src/helm/benchmark/scenarios/vision_language/image2struct/webpage/_config.default.yml
  src/helm/benchmark/scenarios/vision_language/image2struct/webpage/driver.py
  src/helm/benchmark/scenarios/vision_language/image2struct/webpage/jekyll_server.py
  src/helm/benchmark/scenarios/vision_language/image2struct/webpage/utils.py
  src/helm/benchmark/scenarios/vision_language/image2struct/webpage_scenario.py
  src/helm/benchmark/static/schema_image2struct.yaml
  test.png
  test.txt
Due: run-pre-commit

Remove test files
  test.png
  test.txt
Due: none

Disable sampling for FLORES
  src/helm/benchmark/adaptation/common_adapter_specs.py
  src/helm/benchmark/run_specs/bhasa_run_specs.py
Due: run-pre-commit

Rename Image2structure -> Image2struct + Latex optim (#2888)
  setup.cfg
  src/helm/benchmark/annotation/image2struct/__init__.py
  src/helm/benchmark/annotation/image2struct/image_compiler_annotator.py
  src/helm/benchmark/annotation/image2struct/latex_compiler_annotator.py
  src/helm/benchmark/annotation/image2struct/lilypond_compiler_annotator.py
  src/helm/benchmark/annotation/image2struct/webpage_compiler_annotator.py
  src/helm/benchmark/metrics/vision_language/image_metrics.py
  src/helm/benchmark/metrics/vision_language/image_utils.py
  src/helm/benchmark/presentation/run_entries_image2struct.conf
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/scenarios/scenario.py
  src/helm/benchmark/scenarios/vision_language/image2struct/__init__.py
  src/helm/benchmark/scenarios/vision_language/image2struct/chart2csv_scenario.py
  src/helm/benchmark/scenarios/vision_language/image2struct/image2struct_scenario.py
  src/helm/benchmark/scenarios/vision_language/image2struct/latex_scenario.py
  src/helm/benchmark/scenarios/vision_language/image2struct/musicsheet_scenario.py
  src/helm/benchmark/scenarios/vision_language/image2struct/utils_latex.py
  src/helm/benchmark/scenarios/vision_language/image2struct/webpage/Gemfile.default
  src/helm/benchmark/scenarios/vision_language/image2struct/webpage/__init__.py
  src/helm/benchmark/scenarios/vision_language/image2struct/webpage/_config.default.yml
  src/helm/benchmark/scenarios/vision_language/image2struct/webpage/driver.py
  src/helm/benchmark/scenarios/vision_language/image2struct/webpage/jekyll_server.py
  src/helm/benchmark/scenarios/vision_language/image2struct/webpage/utils.py
  src/helm/benchmark/scenarios/vision_language/image2struct/webpage_scenario.py
  src/helm/benchmark/static/schema_image2struct.yaml
Due: run-pre-commit

update to use wild subset
  src/helm/benchmark/presentation/run_entries_image2struct.conf
Due: none

fix image compiler
  src/helm/benchmark/annotation/image2struct/lilypond_compiler_annotator.py
  src/helm/benchmark/scenarios/vision_language/image2struct/utils_latex.py
Due: run-pre-commit

set error for webpage compiler
  src/helm/benchmark/scenarios/vision_language/image2struct/webpage_scenario.py
Due: run-pre-commit

temp changes for this branch
  helm-frontend/public/config.js
  helm-frontend/src/components/Indicator/Indicator.tsx
  helm-frontend/src/components/Predictions.tsx
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontned

finalize revisions
  src/helm/benchmark/annotation/model_as_judge_annotator.py
  src/helm/benchmark/annotation/xstest_annotator.py
  src/helm/benchmark/run_specs/safety_run_specs.py
  src/helm/benchmark/scenarios/xstest_scenario.py
Due: run-pre-commit

More fixes for Image2Struct (#2890)
  src/helm/benchmark/annotation/image2struct/lilypond_compiler_annotator.py
  src/helm/benchmark/presentation/run_entries_image2struct.conf
  src/helm/benchmark/scenarios/vision_language/image2struct/utils_latex.py
  src/helm/benchmark/scenarios/vision_language/image2struct/webpage_scenario.py
Due: run-pre-commit

Fixes for webpages and LaTex
  src/helm/benchmark/scenarios/vision_language/image2struct/utils_latex.py
  src/helm/benchmark/scenarios/vision_language/image2struct/webpage_scenario.py
Due: run-pre-commit

Add more log
  src/helm/benchmark/scenarios/vision_language/image2struct/webpage_scenario.py
Due: run-pre-commit

Fix last LaTeX issue
  src/helm/benchmark/scenarios/vision_language/image2struct/utils_latex.py
Due: run-pre-commit

fix flake issues
  src/helm/benchmark/annotation/model_as_judge_annotator.py
  src/helm/benchmark/annotation/xstest_annotator.py
  src/helm/benchmark/run_specs/safety_run_specs.py
  src/helm/benchmark/scenarios/xstest_scenario.py
Due: run-pre-commit

Add Nemotron-4 Instruct
  src/helm/clients/nvidia_nim_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit

Fixes
  src/helm/clients/nvidia_nim_client.py
  src/helm/config/model_metadata.yaml
Due: run-pre-commit

Fix metadata
  src/helm/config/model_metadata.yaml
Due: none

Remove AI21Tokenizer and AI21WindowService
  docs/adding_new_models.md
  src/helm/benchmark/window_services/ai21_window_service.py
  src/helm/benchmark/window_services/test_ai21_window_service.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
  src/helm/tokenizers/ai21_tokenizer.py
Due: run-pre-commit

Add tags
  src/helm/config/model_metadata.yaml
Due: none

Add extra instructions for FinQA
  src/helm/benchmark/scenarios/fin_qa_scenario.py
Due: run-pre-commit

Remove AI21Tokenizer and AI21WindowService (#2893)
  docs/adding_new_models.md
  src/helm/benchmark/window_services/ai21_window_service.py
  src/helm/benchmark/window_services/test_ai21_window_service.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
  src/helm/tokenizers/ai21_tokenizer.py
Due: run-pre-commit

Add Nemotron-4 Instruct (#2892)
  src/helm/clients/nvidia_nim_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit

Add extra instructions for FinQA (#2894)
  src/helm/benchmark/scenarios/fin_qa_scenario.py
Due: run-pre-commit

update safety score
  src/helm/benchmark/metrics/safety_metrics.py
Due: run-pre-commit

Add Pythia 70M
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Path conditions:
  run-pre-commit: any of: \.py$
  run-pre-commit-frontned: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
