Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit, run-pre-commit-frontned

run-pre-commit:
  name: run-pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontned:
  name: run-pre-commit-frontned
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Move adding new models documentation (#3024)
  docs/adding_new_models.md
  docs/developer_adding_new_models.md
  mkdocs.yml
Due: none

Normalize lpips and ssim for image2struct (#3020)
  src/helm/benchmark/metrics/vision_language/image_metrics.py
Due: run-pre-commit

Fetch single run spec rather than all run specs on predictions page
  helm-frontend/src/routes/Run.tsx
  helm-frontend/src/services/getRunSpecByName.ts
Due: run-pre-commit-frontned

Lint
  helm-frontend/src/routes/Run.tsx
  helm-frontend/src/services/getRunSpecByName.ts
Due: run-pre-commit-frontned

Fix lint
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontned

Lint again
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontned

Lint
  helm-frontend/src/components/VHELMLanding.tsx
Due: run-pre-commit-frontned

Update VHELM landing (#3014)
  helm-frontend/src/assets/vhelm/vhelm-aspects.png
  helm-frontend/src/assets/vhelm/vhelm-framework.png
  helm-frontend/src/assets/vhelm/vhelm-model.png
  helm-frontend/src/components/VHELMLanding.tsx
Due: run-pre-commit-frontned

Update requirements.txt
  requirements.txt
Due: none

Fetch single run spec rather than all run specs on predictions page (#3025)
  helm-frontend/src/routes/Run.tsx
  helm-frontend/src/services/getRunSpecByName.ts
Due: run-pre-commit-frontned

Build frontend
  src/helm/benchmark/static_build/assets/index-3ee38b3d.js
  src/helm/benchmark/static_build/assets/index-b6ad1ddb.js
  src/helm/benchmark/static_build/assets/vhelm-aspects-1437d673.png
  src/helm/benchmark/static_build/assets/vhelm-framework-a1ca3f3f.png
  src/helm/benchmark/static_build/assets/vhelm-framework-cde7618a.png
  src/helm/benchmark/static_build/assets/vhelm-model-6d812526.png
  src/helm/benchmark/static_build/assets/vhelm-model-8afb7616.png
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontned

Add Palmyra-Med and Palmyra-Fin models
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Add Palmyra-Med and Palmyra-Fin models (#3028)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Update descriptions
  src/helm/config/model_metadata.yaml
Due: none

Update number of parameters
  src/helm/config/model_metadata.yaml
Due: none

Add Llama 3.2 Turbo
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Fix some tags
  src/helm/config/model_metadata.yaml
Due: none

Fix some more tags
  src/helm/config/model_metadata.yaml
Due: none

Add Llama 3.2 Turbo models on Together AI (#3029)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Compute win rate by default if no aggregation strategies are specified
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

Lint
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

Enum
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

Fix lint
  src/helm/benchmark/presentation/create_plots.py
Due: run-pre-commit

Added Gemini-1.5-Pro-002 and Gemini-1.5-Flash-002
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Added Llama 3 Instruct Lite / Turbo family
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

updated the together model name
  src/helm/config/model_deployments.yaml
Due: none

Addressed Comments - Added Mistral and LLAMA Models on Bedrock
  src/helm/clients/bedrock_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit

Fix nitpicks
  src/helm/benchmark/run_specs/bhasa_run_specs.py
  src/helm/benchmark/scenarios/bhasa_scenario.py
Due: run-pre-commit

Add nonsense
  README.md
Due: none

Edited yaml files to include eleutherai/pythia-70m
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Default to win rate column if no aggregation strategies are specified (#3030)
  src/helm/benchmark/presentation/create_plots.py
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

LLaMA-3 8B Together model name (#3033)
  src/helm/config/model_deployments.yaml
Due: none

Split pragmatics into presuppositions and scalar implicatures (#2938)
  src/helm/benchmark/presentation/run_entries_bhasa.conf
  src/helm/benchmark/presentation/run_entries_bhasa_zero_shot.conf
  src/helm/benchmark/run_specs/bhasa_run_specs.py
  src/helm/benchmark/scenarios/bhasa_scenario.py
  src/helm/benchmark/static/schema_bhasa.yaml
Due: run-pre-commit

temporary scenario
  src/helm/benchmark/annotation/model_as_judge.py
  src/helm/benchmark/metrics/safety_metrics.py
  src/helm/benchmark/run_specs/safety_run_specs.py
  src/helm/benchmark/scenarios/harm_bench_gcg_scenario.py
  src/helm/benchmark/static/schema_safety.yaml
Due: run-pre-commit

revert
  src/helm/benchmark/annotation/model_as_judge.py
  src/helm/benchmark/metrics/safety_metrics.py
Due: run-pre-commit

small fix
  src/helm/benchmark/scenarios/harm_bench_gcg_scenario.py
Due: run-pre-commit

revert another stray
  src/helm/benchmark/static/schema_safety.yaml
Due: none

renaem
  src/helm/benchmark/run_specs/safety_run_specs.py
  src/helm/benchmark/scenarios/harm_bench_gcg_t_scenario.py
  src/helm/benchmark/static/schema_safety.yaml
Due: run-pre-commit

fix err
  src/helm/benchmark/run_specs/safety_run_specs.py
Due: run-pre-commit

Path conditions:
  run-pre-commit: any of: \.py$
  run-pre-commit-frontned: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
