Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit, run-pre-commit-frontned

run-pre-commit:
  name: run-pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontned:
  name: run-pre-commit-frontned
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Pre-push?
  .pre-commit-config.yaml
Due: none

Update pre-commit and CI for frontend
  .github/workflows/frontend.yml
  .pre-commit-config.yaml
  helm-frontend/package.json
  pre-commit-frontend.sh
Due: none

Check Yarn existence
  pre-commit-frontend.sh
Due: none

Fix lint
  helm-frontend/src/routes/Runs.tsx
Due: run-pre-commit-frontned

Use two columns for card grid on small screens
  helm-frontend/src/components/CardGrid.tsx
Due: run-pre-commit-frontned

Fix bug causing Predictions page to repeatedly download schema.json (#2847)
  helm-frontend/src/routes/Runs.tsx
Due: run-pre-commit-frontned

Use two columns for card grid on small screens for home (#2848)
  helm-frontend/src/components/CardGrid.tsx
Due: run-pre-commit-frontned

Try again?
  .github/workflows/test.yml
  install-dev.sh
Due: none

Fixes
  .github/workflows/test.yml
  .github/workflows/update-requirements.yml
Due: none

More fixes
  install-dev.sh
Due: none

Temporarily set pip version to 24.1.2 (#2853)
  .github/workflows/test.yml
  .github/workflows/update-requirements.yml
  install-dev.sh
Due: none

More fixes
  src/helm/benchmark/static/schema_tables.yaml
Due: none

Add lower_is_better to schema_tables.yaml
  src/helm/benchmark/static/schema_tables.yaml
Due: none

Add GitHub Actions workflow for upgrading dependencies
  .github/workflows/upgrade-requirements.yml
Due: none

Pin PyTorch to v2.2.2
  .github/workflows/upgrade-requirements.yml
Due: none

Create schema for Safety (#2832)
  src/helm/benchmark/static/schema_safety.yaml
Due: none

Add GitHub Actions workflow for upgrading dependencies (#2856)
  .github/workflows/upgrade-requirements.yml
Due: none

Fix torch package name typo in upgrade-requirements.yml
  .github/workflows/upgrade-requirements.yml
Due: none

Widen dependencies for VLM extras
  setup.cfg
Due: none

Revert some dependencies
  setup.cfg
Due: none

Widen VLM dependencies (#2857)
  setup.cfg
Due: none

Pin version of scikit-images
  setup.cfg
Due: none

Pin version of scikit-images (#2858)
  setup.cfg
Due: none

Ignore lines that become type errors after upgrading dependencies
  src/helm/benchmark/annotation/image2structure/lilypond_compiler_annotator.py
  src/helm/benchmark/metrics/summac/model_summac.py
Due: run-pre-commit

Add lower_is_better to schema_tables.yaml (#2834)
  src/helm/benchmark/static/schema_tables.yaml
Due: none

Add validation for --models-to-run
  src/helm/benchmark/run.py
Due: run-pre-commit

Unify tables (#2845)
  helm-frontend/src/components/GroupLeaderboard.tsx
  helm-frontend/src/components/GroupsCharts.tsx
  helm-frontend/src/components/GroupsTables.tsx
  helm-frontend/src/components/LeaderboardTable.tsx
  helm-frontend/src/components/LeaderboardTables.tsx
  helm-frontend/src/components/MiniLeaderboard.tsx
  helm-frontend/src/components/MiniLeaderboardTables.tsx
  helm-frontend/src/routes/Group.tsx
  helm-frontend/src/routes/Groups.tsx
  helm-frontend/src/routes/Leaderboard.tsx
Due: run-pre-commit-frontned

Ignore lines that become type errors after upgrading dependencies (#2859)
  src/helm/benchmark/annotation/image2structure/lilypond_compiler_annotator.py
  src/helm/benchmark/metrics/summac/model_summac.py
Due: run-pre-commit

Exclude CUDA from upgrade requirements workflow
  .github/workflows/upgrade-requirements.yml
Due: none

Exclude CUDA from upgrade requirements workflow (#2861)
  .github/workflows/upgrade-requirements.yml
Due: none

Upgrade requirements.txt
  requirements.txt
Due: none

Add Gemma 2 Instruct on Together
  src/helm/config/model_deployments.yaml
Due: none

Add Gemma 2 Instruct on Together (#2862)
  src/helm/config/model_deployments.yaml
Due: none

fixes
  src/helm/benchmark/annotation/harm_bench_annotator.py
  src/helm/benchmark/scenarios/harm_bench_scenario.py
Due: run-pre-commit

another fix
  src/helm/benchmark/scenarios/harm_bench_scenario.py
Due: run-pre-commit

Add validation for --models-to-run (#2852)
  src/helm/benchmark/run.py
Due: run-pre-commit

Upgrade requirements using Python 3.8
  .github/workflows/upgrade-requirements.yml
Due: none

Upgrade requirements using Python 3.8 (#2866)
  .github/workflows/upgrade-requirements.yml
Due: none

Add Lite v1.6.0
  helm-frontend/project_metadata.json
Due: none

Add Lite v1.6.0 (#2867)
  helm-frontend/project_metadata.json
Due: none

Path conditions:
  run-pre-commit: any of: \.py$
  run-pre-commit-frontned: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
