Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit, run-pre-commit-frontned

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit
      name: run-pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
- repo: local
  hooks:
  - id: run-pre-commit-frontned
    name: run-pre-commit-frontned
    entry: ./pre-commit-frontend.sh
    language: script
    pass_filenames: false
    require_serial: true
    types_or: [javascript, jsx, ts, tsx]

Add run entries
  src/helm/benchmark/presentation/run_entries_finance.conf
Due: none

Add real evaluation examples to call center summarization scenario
  src/helm/benchmark/run_specs/call_center_run_specs.py
  src/helm/benchmark/scenarios/call_center_scenario.py
  src/helm/benchmark/static/schema_call_center.yaml
Due: run-pre-commit

Add script for redacting scenario states (#2942)
  scripts/redact_scenario_states.py
Due: run-pre-commit

Add BANKING77 to Finance leaderboard (#2943)
  src/helm/benchmark/presentation/run_entries_finance.conf
  src/helm/benchmark/static/schema_finance.yaml
Due: none

Add real evaluation examples to call center summarization scenario (#2944)
  src/helm/benchmark/run_specs/call_center_run_specs.py
  src/helm/benchmark/scenarios/call_center_scenario.py
  src/helm/benchmark/static/schema_call_center.yaml
Due: run-pre-commit

Add schema for CLEVA leaderboard
  src/helm/benchmark/static/schema_cleva.yaml
Due: none

Add schema for CLEVA leaderboard (#2945)
  src/helm/benchmark/static/schema_cleva.yaml
Due: none

Update ThaiExam landing page
  helm-frontend/src/assets/logos/scbx.jpg
  helm-frontend/src/components/Landing/ThaiExamLanding.tsx
Due: run-pre-commit-frontned

Add BANKING77 scenario
  src/helm/benchmark/run_specs/finance_run_specs.py
  src/helm/benchmark/scenarios/banking77_scenario.py
  src/helm/benchmark/static/schema_finance.yaml
Due: run-pre-commit

phi vision client
  phi.py
  src/helm/clients/vision_language/huggingface_phi_vision_client.py
Due: run-pre-commit

fix dtype
  src/helm/clients/vision_language/huggingface_phi_vision_client.py
Due: run-pre-commit

Fix run entry and schema for NumericNLG
  src/helm/benchmark/presentation/run_entries_tables.conf
  src/helm/benchmark/static/schema_tables.yaml
Due: none

Add BANKING77 scenario (#2947)
  src/helm/benchmark/run_specs/finance_run_specs.py
  src/helm/benchmark/scenarios/banking77_scenario.py
  src/helm/benchmark/static/schema_finance.yaml
Due: run-pre-commit

Fix run entry and schema for NumericNLG (#2949)
  src/helm/benchmark/presentation/run_entries_tables.conf
  src/helm/benchmark/static/schema_tables.yaml
Due: none

Handle perturbations in run predictions frontend
  helm-frontend/src/components/InstanceData.tsx
  helm-frontend/src/components/Predictions.tsx
  helm-frontend/src/routes/Home.tsx
  helm-frontend/src/routes/Run.tsx
  helm-frontend/src/types/DisplayPrediction.ts
  helm-frontend/src/types/DisplayPredictionsMap.ts
  helm-frontend/src/types/DisplayRequest.ts
  helm-frontend/src/types/DisplayRequestsMap.ts
  helm-frontend/src/types/Instance.ts
Due: run-pre-commit-frontned

final fixes
  helm-frontend/src/components/Indicator/Indicator.tsx
  helm-frontend/src/components/Predictions.tsx
  helm-frontend/src/types/DisplayPrediction.ts
  helm-frontend/src/utils/getStatCorrectness.ts
Due: run-pre-commit-frontned

fices
  helm-frontend/src/components/Indicator/Indicator.tsx
  helm-frontend/src/components/Predictions.tsx
  helm-frontend/src/routes/Run.tsx
  helm-frontend/src/types/StatList.ts
  helm-frontend/src/utils/getStatCorrectness.ts
Due: run-pre-commit-frontned

fix
  harmbench_behaviors_text_all.html
Due: none

remove unnecessary type
  helm-frontend/src/types/StatList.ts
Due: run-pre-commit-frontned

streamline new component
  helm-frontend/src/utils/getStatCorrectness.ts
Due: run-pre-commit-frontned

fix
  helm-frontend/src/components/Indicator/Indicator.tsx
Due: run-pre-commit-frontned

Add WMT instructions suffix to output_format_instructions run expander
  src/helm/benchmark/run_expander.py
Due: run-pre-commit

Update ThaiExam landing page (#2946)
  helm-frontend/src/assets/logos/scbx.jpg
  helm-frontend/src/components/Landing/ThaiExamLanding.tsx
Due: run-pre-commit-frontned

Remove stray changes
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontned

Add WMT instructions suffix to output_format_instructions run expander (#2952)
  src/helm/benchmark/run_expander.py
Due: run-pre-commit

Fix keys for XSTestAnnotator
  src/helm/benchmark/annotation/xstest_annotator.py
Due: run-pre-commit

Fix keys for XSTestAnnotator (#2955)
  src/helm/benchmark/annotation/xstest_annotator.py
Due: run-pre-commit

Add more instructions for Nemotron on WMT and MATH
  src/helm/benchmark/run_expander.py
Due: run-pre-commit

Add AI21 Jamba 1.5 models
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
  src/helm/tokenizers/ai21_tokenizer.py
Due: run-pre-commit

Add Jamba 1.5 models (#2957)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
  src/helm/tokenizers/ai21_tokenizer.py
Due: run-pre-commit

Add chat client for Palmyra
  src/helm/clients/palmyra_client.py
Due: run-pre-commit

Add chat client for Palmyra (#2958)
  src/helm/clients/palmyra_client.py
Due: run-pre-commit

fix test
  helm-frontend/public/config.js
  helm-frontend/src/components/Indicator/Indicator.test.tsx
Due: run-pre-commit-frontned

Add metrics for call center summarization
  src/helm/benchmark/annotation/call_center_annotator.py
  src/helm/benchmark/metrics/annotation_metrics.py
  src/helm/benchmark/run_specs/call_center_run_specs.py
  src/helm/benchmark/scenarios/call_center_scenario.py
  src/helm/benchmark/static/schema_call_center.yaml
Due: run-pre-commit

fix test
  helm-frontend/src/components/Indicator/Indicator.test.tsx
  helm-frontend/src/utils/getStatCorrectness.ts
Due: run-pre-commit-frontned

fix config
  helm-frontend/public/config.js
Due: run-pre-commit-frontned

fix bug with non main metrics
  helm-frontend/public/config.js
  helm-frontend/src/utils/getStatCorrectness.ts
Due: run-pre-commit-frontned

Add EWoK landing page
  helm-frontend/src/components/Landing/EWoKLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontned

Change type annotations to use Record
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontned
