Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit, run-pre-commit-frontned

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit
      name: run-pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
- repo: local
  hooks:
  - id: run-pre-commit-frontned
    name: run-pre-commit-frontned
    entry: ./pre-commit-frontend.sh
    language: script
    pass_filenames: false
    require_serial: true
    types_or: [javascript, jsx, ts, tsx]

Handle perturbations in run predictions frontend (#2950)
  helm-frontend/src/components/InstanceData.tsx
  helm-frontend/src/components/Predictions.tsx
  helm-frontend/src/routes/Run.tsx
  helm-frontend/src/types/DisplayPrediction.ts
  helm-frontend/src/types/DisplayPredictionsMap.ts
  helm-frontend/src/types/DisplayRequest.ts
  helm-frontend/src/types/DisplayRequestsMap.ts
  helm-frontend/src/types/Instance.ts
Due: run-pre-commit-frontned

Fix spelling of SCBX
  helm-frontend/src/components/Landing/ThaiExamLanding.tsx
Due: run-pre-commit-frontned

Lint
  src/helm/benchmark/static/schema_call_center.yaml
Due: none

Add experimental call center summarization metrics (#2961)
  src/helm/benchmark/annotation/call_center_annotator.py
  src/helm/benchmark/metrics/annotation_metrics.py
  src/helm/benchmark/run_specs/call_center_run_specs.py
  src/helm/benchmark/scenarios/call_center_scenario.py
  src/helm/benchmark/static/schema_call_center.yaml
Due: run-pre-commit

Add instructions for legalbench subsets to output_format_instructions
  src/helm/benchmark/run_expander.py
Due: run-pre-commit

Add instructions for legalbench subsets to output_format_instructions (#2963)
  src/helm/benchmark/run_expander.py
Due: run-pre-commit

Fix spelling of SCBX (#2960)
  helm-frontend/src/components/Landing/ThaiExamLanding.tsx
Due: run-pre-commit-frontned

Fix things
  src/helm/benchmark/run_expander.py
Due: run-pre-commit

Add more instructions for legalbench
  src/helm/benchmark/run_expander.py
Due: run-pre-commit

Allow output_format_instructions to add instructions as suffix (#2964)
  src/helm/benchmark/run_expander.py
Due: run-pre-commit

Fix casing in LegalBench instructions run expander
  src/helm/benchmark/run_expander.py
Due: run-pre-commit

Fix casing in LegalBench instructions run expander (#2966)
  src/helm/benchmark/run_expander.py
Due: run-pre-commit

Update EWoK
  helm-frontend/src/components/Landing/EWoKLanding.tsx
Due: run-pre-commit-frontned

Fix link
  helm-frontend/src/components/Landing/EWoKLanding.tsx
Due: run-pre-commit-frontned

Add EWoK landing page (#2959)
  helm-frontend/src/components/Landing/EWoKLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontned

Add HELM Medical landing page
  helm-frontend/src/components/Landing/EWoKLanding.tsx
  helm-frontend/src/components/Landing/MedicalLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontned

Build frontend
  src/helm/benchmark/static_build/assets/index-41a5b708.js
  src/helm/benchmark/static_build/assets/index-673b67da.css
  src/helm/benchmark/static_build/assets/index-99fb96ef.css
  src/helm/benchmark/static_build/assets/index-ed48ab93.js
  src/helm/benchmark/static_build/assets/scbx-71e53e72.jpg
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontned

revert test
  helm-frontend/src/components/Indicator/Indicator.test.tsx
  helm-frontend/src/components/Indicator/Indicator.tsx
Due: run-pre-commit-frontned

add llama guard 3
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

refactor model as judge
  src/helm/benchmark/annotation/anthropic_red_team_annotator.py
  src/helm/benchmark/annotation/harm_bench_annotator.py
  src/helm/benchmark/annotation/live_qa_annotator.py
  src/helm/benchmark/annotation/medication_qa_annotator.py
  src/helm/benchmark/annotation/model_as_judge_annotator.py
  src/helm/benchmark/annotation/score_util.py
  src/helm/benchmark/annotation/simple_safety_tests_annotator.py
  src/helm/benchmark/annotation/xstest_annotator.py
Due: run-pre-commit

Add llama guard 3 (#2968)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

update file name
  src/helm/benchmark/annotation/medication_qa_annotator.py
  src/helm/benchmark/annotation/model_as_judge.py
Due: run-pre-commit

return null
  helm-frontend/src/components/Indicator/Indicator.tsx
Due: run-pre-commit-frontned

fix fmt
  helm-frontend/src/components/Indicator/Indicator.tsx
Due: run-pre-commit-frontned

Improve Indicator in Predictions Frontend (#2951)
  helm-frontend/src/components/Indicator/Indicator.tsx
  helm-frontend/src/components/Predictions.tsx
  helm-frontend/src/types/DisplayPrediction.ts
  helm-frontend/src/utils/getStatCorrectness.ts
Due: run-pre-commit-frontned

Refactor model as judge implementation (#2969)
  src/helm/benchmark/annotation/anthropic_red_team_annotator.py
  src/helm/benchmark/annotation/harm_bench_annotator.py
  src/helm/benchmark/annotation/live_qa_annotator.py
  src/helm/benchmark/annotation/medication_qa_annotator.py
  src/helm/benchmark/annotation/model_as_judge.py
  src/helm/benchmark/annotation/model_as_judge_annotator.py
  src/helm/benchmark/annotation/simple_safety_tests_annotator.py
  src/helm/benchmark/annotation/xstest_annotator.py
Due: run-pre-commit

update
  src/helm/benchmark/annotation/harm_bench_annotator.py
  src/helm/benchmark/annotation/model_as_judge.py
Due: run-pre-commit

Changelog
  CHANGELOG.md
Due: none

Add CLEVA to project metadata
  helm-frontend/project_metadata.json
Due: none

Add paper links to landing pages
  helm-frontend/src/components/Landing/AIRBenchLanding.tsx
  helm-frontend/src/components/Landing/CLEVALanding.tsx
  helm-frontend/src/components/Landing/EWoKLanding.tsx
  helm-frontend/src/components/Landing/MMLULanding.tsx
Due: run-pre-commit-frontned

Add paper links to landing pages (#2972)
  helm-frontend/src/components/Landing/AIRBenchLanding.tsx
  helm-frontend/src/components/Landing/CLEVALanding.tsx
  helm-frontend/src/components/Landing/EWoKLanding.tsx
  helm-frontend/src/components/Landing/MMLULanding.tsx
Due: run-pre-commit-frontned

Add CLEVA to project metadata (#2971)
  helm-frontend/project_metadata.json
Due: none

Build frontend
  src/helm/benchmark/static_build/assets/index-05c76bb1.css
  src/helm/benchmark/static_build/assets/index-41a5b708.js
  src/helm/benchmark/static_build/assets/index-58f97dcd.js
  src/helm/benchmark/static_build/assets/index-673b67da.css
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontned

Fix incorrect ID for CLEVA in project metadata
  helm-frontend/project_metadata.json
Due: none

Fix incorrect ID for CLEVA in project metadata (#2973)
  helm-frontend/project_metadata.json
Due: none

replace claude with llama
  src/helm/benchmark/annotation/anthropic_red_team_annotator.py
  src/helm/benchmark/annotation/harm_bench_annotator.py
  src/helm/benchmark/annotation/simple_safety_tests_annotator.py
  src/helm/benchmark/annotation/xstest_annotator.py
  src/helm/benchmark/metrics/safety_metrics.py
Due: run-pre-commit

removed llama guard stuff
  src/helm/benchmark/annotation/model_as_judge.py
Due: run-pre-commit

Release ThaiExam v1.0.0 leaderboard
  helm-frontend/project_metadata.json
Due: none

Release ThaiExam v1.0.0 leaderboard (#2975)
  helm-frontend/project_metadata.json
Due: none
