Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit, run-pre-commit-frontned

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit
      name: run-pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
- repo: local
  hooks:
  - id: run-pre-commit-frontned
    name: run-pre-commit-frontned
    entry: ./pre-commit-frontend.sh
    language: script
    pass_filenames: false
    require_serial: true
    types_or: [javascript, jsx, ts, tsx]

Add HELM Finance landing page
  helm-frontend/src/assets/logos/wellsfargo.png
  helm-frontend/src/components/Landing/FinanceLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontned

Fix typos
  helm-frontend/src/components/Landing/FinanceLanding.tsx
Due: run-pre-commit-frontned

Fix typo in nemotron name
  src/helm/config/model_metadata.yaml
Due: none

Fix typo in Nemotron name in model metadata (#2896)
  src/helm/config/model_metadata.yaml
Due: none

Add HELM Finance landing page (#2895)
  helm-frontend/src/assets/logos/wellsfargo.png
  helm-frontend/src/components/Landing/FinanceLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontned

Build frontend
  src/helm/benchmark/static_build/assets/index-8d4532c1.js
  src/helm/benchmark/static_build/assets/index-b2ae68e6.js
  src/helm/benchmark/static_build/assets/wellsfargo-a86a6c4a.png
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontned

final revisions
  src/helm/benchmark/annotation/model_as_judge_annotator.py
  src/helm/benchmark/annotation/xstest_annotator.py
Due: run-pre-commit

fixed
  src/helm/benchmark/annotation/anthropic_red_team_annotator.py
  src/helm/benchmark/annotation/model_as_judge_annotator.py
  src/helm/benchmark/metrics/safety_metrics.py
Due: run-pre-commit

fixes
  src/helm/benchmark/annotation/anthropic_red_team_annotator.py
  src/helm/benchmark/run_specs/safety_run_specs.py
Due: run-pre-commit

temp
  src/helm/benchmark/run_specs/safety_run_specs.py
Due: run-pre-commit

fix
  src/helm/benchmark/annotation/anthropic_red_team_annotator.py
Due: run-pre-commit

finalize
  src/helm/benchmark/annotation/harm_bench_annotator.py
  src/helm/benchmark/annotation/model_as_judge_annotator.py
  src/helm/benchmark/metrics/safety_metrics.py
Due: run-pre-commit

fixes
  src/helm/benchmark/annotation/model_as_judge_annotator.py
  src/helm/benchmark/annotation/simple_safety_tests_annotator.py
  src/helm/benchmark/metrics/safety_metrics.py
  src/helm/benchmark/run_specs/safety_run_specs.py
Due: run-pre-commit

fixes'
  src/helm/benchmark/annotation/live_qa_annotator.py
  src/helm/benchmark/annotation/medication_qa_annotator.py
Due: run-pre-commit

fixed
  src/helm/benchmark/annotation/anthropic_red_team_annotator.py
Due: run-pre-commit

fix flake
  src/helm/benchmark/annotation/harm_bench_annotator.py
  src/helm/benchmark/scenarios/harm_bench_scenario.py
Due: run-pre-commit

fix flake
  src/helm/benchmark/annotation/live_qa_annotator.py
  src/helm/benchmark/annotation/medication_qa_annotator.py
  src/helm/benchmark/annotation/simple_safety_tests_annotator.py
  src/helm/benchmark/scenarios/simple_safety_tests_scenario.py
Due: run-pre-commit

EWoK updates
  src/helm/benchmark/presentation/run_entries_ewok.conf
  src/helm/benchmark/run_specs/experimental_run_specs.py
  src/helm/benchmark/scenarios/ewok_scenario.py
  src/helm/benchmark/static/schema_ewok.yaml
Due: run-pre-commit

last fix
  src/helm/benchmark/scenarios/harm_bench_scenario.py
Due: run-pre-commit

fix bug
  src/helm/benchmark/annotation/medication_qa_annotator.py
Due: run-pre-commit

More fixes
  src/helm/benchmark/run_specs/experimental_run_specs.py
  src/helm/benchmark/static/schema_ewok.yaml
Due: run-pre-commit

update metric name
  src/helm/benchmark/static/schema_safety.yaml
Due: none

Minor fixes
  src/helm/benchmark/static/schema_ewok.yaml
Due: none

Allow domain=all
  src/helm/benchmark/run_specs/experimental_run_specs.py
Due: run-pre-commit

Update Llama 3.1 Instruct Turbo sequence length and description
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Update EWoK (#2897)
  src/helm/benchmark/presentation/run_entries_ewok.conf
  src/helm/benchmark/run_specs/experimental_run_specs.py
  src/helm/benchmark/scenarios/ewok_scenario.py
  src/helm/benchmark/static/schema_ewok.yaml
Due: run-pre-commit

Update safety schema for unified safety metrics (#2877)
  src/helm/benchmark/static/schema_safety.yaml
Due: none

Update Llama 3.1 Instruct Turbo sequence length and description (#2898)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Fix instance IDs for EWoK
  src/helm/benchmark/presentation/run_entries_ewok.conf
  src/helm/benchmark/scenarios/ewok_scenario.py
Due: run-pre-commit

Fix
  src/helm/benchmark/scenarios/ewok_scenario.py
Due: run-pre-commit

Revert run entries
  src/helm/benchmark/presentation/run_entries_ewok.conf
Due: none

More fixes
  src/helm/benchmark/scenarios/ewok_scenario.py
Due: run-pre-commit

Fixes
  src/helm/benchmark/scenarios/ewok_scenario.py
Due: run-pre-commit

Fix instance IDs for EWoK (#2899)
  src/helm/benchmark/scenarios/ewok_scenario.py
Due: run-pre-commit

Add GPT-4o (2024-08-06)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Add links to metadata
  src/helm/config/model_metadata.yaml
Due: none

Add call center summarization scenario
  src/helm/benchmark/annotation/call_center_annotator.py
  src/helm/benchmark/metrics/annotation_metrics.py
  src/helm/benchmark/run_specs/call_center_run_specs.py
  src/helm/benchmark/scenarios/call_center_scenario.py
  src/helm/benchmark/static/schema_call_center.yaml
Due: run-pre-commit

Update Nemotron-4 sequence length
  src/helm/config/model_deployments.yaml
Due: none

Add GPT-4o (2024-08-06) (#2900)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Add more WMT-14 instructions to output_format_instructions run expander
  src/helm/benchmark/run_expander.py
Due: run-pre-commit
