Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit, run-pre-commit-frontned

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit
      name: run-pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
- repo: local
  hooks:
  - id: run-pre-commit-frontned
    name: run-pre-commit-frontned
    entry: ./pre-commit-frontend.sh
    language: script
    pass_filenames: false
    require_serial: true
    types_or: [javascript, jsx, ts, tsx]

move to metrics dependencies
  setup.cfg
Due: none

small fixes based on Percy's feedback
  src/helm/benchmark/annotation/xstest_annotator.py
Due: run-pre-commit

fixes
  src/helm/benchmark/annotation/anthropic_red_team_annotator.py
Due: run-pre-commit

fixed
  src/helm/benchmark/annotation/harm_bench_annotator.py
Due: run-pre-commit

fixed
  src/helm/benchmark/annotation/simple_safety_tests_annotator.py
Due: run-pre-commit

Add XSTest Scenario (#2831)
  src/helm/benchmark/annotation/model_as_judge_annotator.py
  src/helm/benchmark/annotation/xstest_annotator.py
  src/helm/benchmark/metrics/safety_metrics.py
  src/helm/benchmark/run_specs/safety_run_specs.py
  src/helm/benchmark/scenarios/xstest_scenario.py
Due: run-pre-commit

fix conflict
  src/helm/benchmark/metrics/safety_metrics.py
Due: run-pre-commit

fix conflict
  src/helm/benchmark/run_specs/safety_run_specs.py
Due: run-pre-commit

fix downloading
  src/helm/benchmark/scenarios/harm_bench_scenario.py
Due: run-pre-commit

Schema with new metrics
  src/helm/benchmark/static/schema_image2struct.yaml
Due: none

Remove pyext from dependencies
  setup.cfg
  src/helm/benchmark/metrics/code_metrics_helper.py
Due: run-pre-commit

Use Python 3.9 for Upgrade Requirements workflow
  .github/workflows/upgrade-requirements.yml
Due: none

Remove pyext from dependencies (#2921)
  setup.cfg
  src/helm/benchmark/metrics/code_metrics_helper.py
Due: run-pre-commit

Make Perspective API dependencies optional
  setup.cfg
  src/helm/clients/perspective_api_client.py
Due: run-pre-commit

Use Python 3.9 for Upgrade Requirements workflow (#2923)
  .github/workflows/upgrade-requirements.yml
Due: none

Type checking fixes
  src/helm/proxy/services/server_service.py
Due: run-pre-commit

Use old pip for upgrade requirements
  .github/workflows/upgrade-requirements.yml
Due: none

Use pip 24.1.2 for upgrade requirements GitHub Action workflow (#2925)
  .github/workflows/upgrade-requirements.yml
Due: none

Make Perspective API dependencies optional (#2924)
  setup.cfg
  src/helm/clients/perspective_api_client.py
  src/helm/proxy/services/server_service.py
Due: run-pre-commit

Pin nltk to versions before 3.8.2
  setup.cfg
Due: none

Pin nltk dependency to <3.8.2 (#2927)
  setup.cfg
Due: none

Upgrade requirements.txt
  requirements.txt
Due: none

Add CLEVA landing page
  helm-frontend/src/components/Landing/CLEVALanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontned

added run entries
  src/helm/benchmark/presentation/run_entries_safety.conf
Due: none

Schema with new metrics for I2S (#2920)
  src/helm/benchmark/static/schema_image2struct.yaml
Due: none

Add CLEVA landing page (#2929)
  helm-frontend/src/components/Landing/CLEVALanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontned

Add HELM Tables landing page
  helm-frontend/src/assets/logos/cuhk.png
  helm-frontend/src/assets/logos/ibm.png
  helm-frontend/src/components/Landing/TablesLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontned

Add HELM Tables landing page (#2931)
  helm-frontend/src/assets/logos/cuhk.png
  helm-frontend/src/assets/logos/ibm.png
  helm-frontend/src/components/Landing/TablesLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontned

Build frontend
  src/helm/benchmark/static_build/assets/accenture-6f97eeda.png
  src/helm/benchmark/static_build/assets/cresta-9e22b983.png
  src/helm/benchmark/static_build/assets/cuhk-8c5631e9.png
  src/helm/benchmark/static_build/assets/index-677a1558.js
  src/helm/benchmark/static_build/assets/index-99fb96ef.css
  src/helm/benchmark/static_build/assets/index-b8beba02.css
  src/helm/benchmark/static_build/assets/index-ed48ab93.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontned

Run yarn build in frontend CI
  .github/workflows/frontend.yml
Due: none

Run yarn build in frontend CI (#2932)
  .github/workflows/frontend.yml
Due: none

comment
  src/helm/benchmark/presentation/run_entries_safety.conf
Due: none

add new line
  src/helm/benchmark/presentation/run_entries_safety.conf
Due: none

use model=text
  src/helm/benchmark/presentation/run_entries_safety.conf
Due: none

fix annotator
  src/helm/benchmark/annotation/harm_bench_annotator.py
Due: run-pre-commit

fixes
  src/helm/benchmark/scenarios/harm_bench_scenario.py
Due: run-pre-commit

fixes
  src/helm/benchmark/annotation/anthropic_red_team_annotator.py
  src/helm/benchmark/scenarios/anthropic_red_team_scenario.py
Due: run-pre-commit
