Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit, run-pre-commit-frontned

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit
      name: run-pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
- repo: local
  hooks:
  - id: run-pre-commit-frontned
    name: run-pre-commit-frontned
    entry: ./pre-commit-frontend.sh
    language: script
    pass_filenames: false
    require_serial: true
    types_or: [javascript, jsx, ts, tsx]

Build frontend
  src/helm/benchmark/static_build/assets/index-825e9122.css
  src/helm/benchmark/static_build/assets/index-8d4532c1.js
  src/helm/benchmark/static_build/assets/index-8f210e6c.css
  src/helm/benchmark/static_build/assets/index-c2eef07f.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontned

Skip run entry tests
  src/helm/benchmark/presentation/test_run_entry.py
Due: run-pre-commit

Skip run entry tests (#2868)
  src/helm/benchmark/presentation/test_run_entry.py
Due: run-pre-commit

Add scenarios mark to test_ewok_scenario
  src/helm/benchmark/scenarios/test_ewok_scenario.py
Due: run-pre-commit

Add scenarios mark to test_ewok_scenario (#2869)
  src/helm/benchmark/scenarios/test_ewok_scenario.py
Due: run-pre-commit

Upgrade requirements.txt
  requirements.txt
Due: none

Fixes
  .github/workflows/update-requirements.yml
Due: none

Update dependencies in manual install scripts
  .github/workflows/update-requirements.yml
  install-dev.sh
  install-heim-extras.sh
Due: none

Remove backports.zoneinfo from requirements.txt
  requirements.txt
Due: none

Remove backports.zoneinfo from requirements.txt (#2871)
  requirements.txt
Due: none

Update dependencies in manual install scripts (#2864)
  .github/workflows/update-requirements.yml
  install-dev.sh
  install-heim-extras.sh
Due: none

Update requirements.txt
  requirements.txt
Due: none

Add mcqa and mmlu to output_format_instructions run expander (#2824)
  src/helm/benchmark/run_expander.py
Due: run-pre-commit

Suppress logging AbortError when data fetching calls are aborted (#2811)
  helm-frontend/src/services/getDisplayPredictionsByName.ts
  helm-frontend/src/services/getDisplayRequestsByName.ts
  helm-frontend/src/services/getGroupTablesByName.ts
  helm-frontend/src/services/getGroupsMetadata.ts
  helm-frontend/src/services/getGroupsTables.ts
  helm-frontend/src/services/getInstances.ts
  helm-frontend/src/services/getRunSpecByName.ts
  helm-frontend/src/services/getRunSpecs.ts
  helm-frontend/src/services/getRunsToRunSuites.ts
  helm-frontend/src/services/getScenarioByName.ts
  helm-frontend/src/services/getSchema.ts
  helm-frontend/src/services/getStatsByName.ts
Due: run-pre-commit-frontned

Delete legacy frontend (#2810)
  src/helm/benchmark/server.py
  src/helm/benchmark/static/benchmarking.css
  src/helm/benchmark/static/benchmarking.js
  src/helm/benchmark/static/config.js
  src/helm/benchmark/static/general.js
  src/helm/benchmark/static/images/crfm-logo.png
  src/helm/benchmark/static/images/helm-logo-simple.png
  src/helm/benchmark/static/images/helm-logo.png
  src/helm/benchmark/static/images/language-model-helm.png
  src/helm/benchmark/static/images/organizations/ai21.png
  src/helm/benchmark/static/images/organizations/anthropic.png
  src/helm/benchmark/static/images/organizations/bigscience.png
  src/helm/benchmark/static/images/organizations/cohere.png
  src/helm/benchmark/static/images/organizations/eleutherai.png
  src/helm/benchmark/static/images/organizations/google.png
  src/helm/benchmark/static/images/organizations/meta.png
  src/helm/benchmark/static/images/organizations/microsoft.png
  src/helm/benchmark/static/images/organizations/nvidia.png
  src/helm/benchmark/static/images/organizations/openai.png
  src/helm/benchmark/static/images/organizations/together.png
  src/helm/benchmark/static/images/organizations/tsinghua-keg.png
  src/helm/benchmark/static/images/organizations/yandex.png
  src/helm/benchmark/static/images/scenarios-by-metrics.png
  src/helm/benchmark/static/images/taxonomy-scenarios.png
  src/helm/benchmark/static/index.html
  src/helm/benchmark/static/info-icon.png
  src/helm/benchmark/static/json-urls.js
  src/helm/benchmark/static/plot-captions.js
  src/helm/benchmark/static/utils.js
Due: run-pre-commit, run-pre-commit-frontned

Add documentation for reproducing AIR-Bench
  docs/reproducing_leaderboards.md
  src/helm/benchmark/presentation/run_entries_air_bench.conf
Due: none

Fix frontend type errors in services
  helm-frontend/src/services/getDisplayPredictionsByName.ts
  helm-frontend/src/services/getDisplayRequestsByName.ts
  helm-frontend/src/services/getGroupTablesByName.ts
  helm-frontend/src/services/getGroupsMetadata.ts
  helm-frontend/src/services/getGroupsTables.ts
  helm-frontend/src/services/getInstances.ts
  helm-frontend/src/services/getRunSpecByName.ts
  helm-frontend/src/services/getRunSpecs.ts
  helm-frontend/src/services/getRunsToRunSuites.ts
  helm-frontend/src/services/getScenarioByName.ts
  helm-frontend/src/services/getSchema.ts
  helm-frontend/src/services/getStatsByName.ts
Due: run-pre-commit-frontned

Move OpenVINO on Optimum Intel test to daily integration tests
  .github/workflows/test-daily-integration.yml
  .github/workflows/test.yml
Due: none

Fix frontend type errors in services (#2874)
  helm-frontend/src/services/getDisplayPredictionsByName.ts
  helm-frontend/src/services/getDisplayRequestsByName.ts
  helm-frontend/src/services/getGroupTablesByName.ts
  helm-frontend/src/services/getGroupsMetadata.ts
  helm-frontend/src/services/getGroupsTables.ts
  helm-frontend/src/services/getInstances.ts
  helm-frontend/src/services/getRunSpecByName.ts
  helm-frontend/src/services/getRunSpecs.ts
  helm-frontend/src/services/getRunsToRunSuites.ts
  helm-frontend/src/services/getScenarioByName.ts
  helm-frontend/src/services/getSchema.ts
  helm-frontend/src/services/getStatsByName.ts
Due: run-pre-commit-frontned

Add documentation for reproducing AIR-Bench (#2873)
  docs/reproducing_leaderboards.md
  src/helm/benchmark/presentation/run_entries_air_bench.conf
Due: none

small fix for prompt
  src/helm/benchmark/scenarios/harm_bench_scenario.py
Due: run-pre-commit

fix typing
  src/helm/benchmark/annotation/model_as_judge_annotator.py
Due: run-pre-commit

made tags more tag like
  src/helm/benchmark/annotation/harm_bench_annotator.py
Due: run-pre-commit

fix annotator
  src/helm/benchmark/annotation/anthropic_red_team_annotator.py
  src/helm/benchmark/annotation/model_as_judge_annotator.py
Due: run-pre-commit

fixes
  src/helm/benchmark/annotation/harm_bench_annotator.py
  src/helm/benchmark/metrics/safety_metrics.py
  src/helm/benchmark/run_specs/safety_run_specs.py
Due: run-pre-commit

stuff done
  src/helm/benchmark/static/schema_safety.yaml
Due: none

fixes
  src/helm/benchmark/annotation/anthropic_red_team_annotator.py
  src/helm/benchmark/metrics/safety_metrics.py
  src/helm/benchmark/scenarios/anthropic_red_team_scenario.py
Due: run-pre-commit

add run specs update
  src/helm/benchmark/run_specs/safety_run_specs.py
Due: run-pre-commit

revert bbq change
  src/helm/benchmark/run_specs/classic_run_specs.py
Due: run-pre-commit

fix
  src/helm/benchmark/annotation/anthropic_red_team_annotator.py
  src/helm/benchmark/annotation/model_as_judge_annotator.py
Due: run-pre-commit

fix
  src/helm/benchmark/annotation/harm_bench_annotator.py
Due: run-pre-commit

Move OpenVINO on Optimum Intel test to daily integration tests (#2875)
  .github/workflows/test-daily-integration.yml
  .github/workflows/test.yml
Due: none

VHELM improvements (#2825)
  src/helm/benchmark/presentation/run_entries_vhelm.conf
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/scenarios/vision_language/a_okvqa_scenario.py
  src/helm/benchmark/scenarios/vision_language/bingo_scenario.py
  src/helm/benchmark/scenarios/vision_language/crossmodal_3600_scenario.py
  src/helm/benchmark/scenarios/vision_language/exams_v_scenario.py
  src/helm/benchmark/scenarios/vision_language/fair_face_scenario.py
  src/helm/benchmark/scenarios/vision_language/flickr30k_scenario.py
  src/helm/benchmark/scenarios/vision_language/gqa_scenario.py
  src/helm/benchmark/scenarios/vision_language/hateful_memes_scenario.py
  src/helm/benchmark/scenarios/vision_language/math_vista_scenario.py
  src/helm/benchmark/scenarios/vision_language/mementos_scenario.py
  src/helm/benchmark/scenarios/vision_language/mm_safety_bench_scenario.py
  src/helm/benchmark/scenarios/vision_language/mme_scenario.py
  src/helm/benchmark/scenarios/vision_language/mmmu_scenario.py
  src/helm/benchmark/scenarios/vision_language/pairs_scenario.py
  src/helm/benchmark/scenarios/vision_language/pope_scenario.py
  src/helm/benchmark/scenarios/vision_language/real_world_qa_scenario.py
  src/helm/benchmark/scenarios/vision_language/seed_bench_scenario.py
  src/helm/benchmark/scenarios/vision_language/unicorn_scenario.py
  src/helm/benchmark/scenarios/vision_language/vibe_eval_scenario.py
  src/helm/benchmark/scenarios/vision_language/viz_wiz_scenario.py
  src/helm/benchmark/scenarios/vision_language/vqa_scenario.py
  src/helm/benchmark/static/schema_vhelm.yaml
  src/helm/clients/vision_language/palmyra_vision_client.py
  src/helm/common/images_utils.py
  src/helm/config/model_metadata.yaml
Due: run-pre-commit

Adding wild data and changing 'real' to 'wild'
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/scenarios/vision_language/image2structure/latex_scenario.py
  src/helm/benchmark/scenarios/vision_language/image2structure/webpage_scenario.py
  src/helm/benchmark/static/schema_image2structure.yaml
Due: run-pre-commit

Fex fixes in LaTeX parsing
  src/helm/benchmark/scenarios/vision_language/image2structure/utils_latex.py
Due: run-pre-commit

Update Llama 3.1 Instruct Turbo model lengths
  src/helm/config/model_deployments.yaml
Due: none

Fixes
  src/helm/benchmark/static/schema_ewok.yaml
Due: none

More EWOK fixes
  src/helm/benchmark/run_specs/experimental_run_specs.py
Due: run-pre-commit

Shorten the menu entry description for Image2Struct
  helm-frontend/project_metadata.json
Due: none

Only add HELM prefix to Lite, Clsasic and Instruct
  helm-frontend/src/components/ProjectCard.tsx
Due: run-pre-commit-frontned
