Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit, run-pre-commit-frontned

run-pre-commit:
  name: run-pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontned:
  name: run-pre-commit-frontned
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Pin pip version in update requirements GitHub Action workflow (#2983)
  .github/workflows/update-requirements.yml
Due: none

Update requirements.txt
  requirements.txt
Due: none

Use Python 3.9 for Read The Docs build
  .readthedocs.yaml
Due: none

Use Python 3.9 for Read The Docs build (#2985)
  .readthedocs.yaml
Due: none

working
  src/helm/benchmark/annotation/anthropic_red_team_annotator.py
  src/helm/benchmark/annotation/harm_bench_annotator.py
  src/helm/benchmark/annotation/live_qa_annotator.py
  src/helm/benchmark/annotation/medication_qa_annotator.py
  src/helm/benchmark/annotation/model_as_judge.py
  src/helm/benchmark/annotation/simple_safety_tests_annotator.py
  src/helm/benchmark/annotation/xstest_annotator.py
Due: run-pre-commit

add error
  src/helm/benchmark/annotation/model_as_judge.py
Due: run-pre-commit

fix typing issue
  src/helm/benchmark/annotation/model_as_judge.py
Due: run-pre-commit

fix
  helm-frontend/src/components/RunInstances.tsx
  src/helm/benchmark/annotation/model_as_judge.py
Due: run-pre-commit, run-pre-commit-frontned

revert stray change
  helm-frontend/src/components/RunInstances.tsx
Due: run-pre-commit-frontned

Make model_as_judge's output format more forgiving with regex and tag delimiters (#2986)
  src/helm/benchmark/annotation/anthropic_red_team_annotator.py
  src/helm/benchmark/annotation/harm_bench_annotator.py
  src/helm/benchmark/annotation/live_qa_annotator.py
  src/helm/benchmark/annotation/medication_qa_annotator.py
  src/helm/benchmark/annotation/model_as_judge.py
  src/helm/benchmark/annotation/simple_safety_tests_annotator.py
  src/helm/benchmark/annotation/xstest_annotator.py
Due: run-pre-commit

Update bedrock_client.py
  src/helm/clients/bedrock_client.py
Due: run-pre-commit

Update tokenizer_configs.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Delete data overlap
  src/helm/benchmark/data_overlap/__init__.py
  src/helm/benchmark/data_overlap/data_overlap_spec.py
  src/helm/benchmark/data_overlap/export_scenario_text.py
  src/helm/benchmark/data_overlap/light_scenario.py
  src/helm/benchmark/presentation/run_entries_tables.conf
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

update safety schema
  src/helm/benchmark/static/schema_safety.yaml
Due: none

Update safety schema (#2988)
  src/helm/benchmark/static/schema_safety.yaml
Due: none

Update BHASA schema, add exception for unsupported languages for LINDSEA
  src/helm/benchmark/scenarios/bhasa_scenario.py
  src/helm/benchmark/static/schema_bhasa.yaml
Due: run-pre-commit

Add file extension for downloaded files
  src/helm/benchmark/scenarios/bhasa_scenario.py
Due: run-pre-commit

Fix naming convention
  src/helm/benchmark/presentation/run_entries_bhasa.conf
  src/helm/benchmark/presentation/run_entries_bhasa_zero_shot.conf
  src/helm/benchmark/scenarios/bhasa_scenario.py
Due: run-pre-commit

Add error raising for unsupported langauges
  src/helm/benchmark/scenarios/bhasa_scenario.py
Due: run-pre-commit

Release Lite and MMLU v1.8.0
  helm-frontend/project_metadata.json
Due: none

Add o1 models
  src/helm/benchmark/run_expander.py
  src/helm/clients/openai_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/proxy/services/server_service.py
Due: run-pre-commit

Add Palmyra-X-004
  src/helm/clients/palmyra_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit

Added link to "Reasoning models" documentation
  src/helm/clients/openai_client.py
Due: run-pre-commit

Add o1 models (#2989)
  src/helm/benchmark/run_expander.py
  src/helm/clients/openai_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/proxy/services/server_service.py
Due: run-pre-commit

Add Palmyra-X-004 model (#2990)
  src/helm/clients/palmyra_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit

Reomve WithFollowerCacheConfig
  scripts/offline_eval/deepfloyd/deepfloyd.py
  scripts/offline_eval/export_requests.py
  scripts/offline_eval/import_results.py
  src/helm/common/cache.py
  src/helm/common/key_value_store.py
  src/helm/common/mongo_key_value_store.py
  src/helm/common/test_cache.py
Due: run-pre-commit

Restore KeyValueStoreCacheConfig
  scripts/offline_eval/deepfloyd/deepfloyd.py
  scripts/offline_eval/export_requests.py
  scripts/offline_eval/import_results.py
  src/helm/common/cache.py
Due: run-pre-commit

resolve conflict
  setup.cfg
Due: none

schema changes for VHELM
  src/helm/benchmark/presentation/run_entries_vhelm.conf
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/static/schema_vhelm.yaml
Due: run-pre-commit

debug conf for VHELM
  src/helm/benchmark/presentation/run_entries_vhelm_debug.conf
Due: none

Add LLM as judge metrics to HELM Tables
  src/helm/benchmark/metrics/unitxt_metrics.py
  src/helm/benchmark/presentation/run_entries_tables.conf
  src/helm/benchmark/static/schema_tables.yaml
Due: run-pre-commit

draft
  src/helm/benchmark/presentation/schema.py
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

fix flake
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

Add LLM as judge metrics to HELM Tables (#2996)
  src/helm/benchmark/metrics/unitxt_metrics.py
  src/helm/benchmark/presentation/run_entries_tables.conf
  src/helm/benchmark/static/schema_tables.yaml
Due: run-pre-commit

Remove WithFollowerCacheConfig (#2992)
  src/helm/common/cache.py
  src/helm/common/key_value_store.py
  src/helm/common/mongo_key_value_store.py
  src/helm/common/test_cache.py
Due: run-pre-commit

local
  src/helm/clients/vllm_client.py
Due: run-pre-commit

minor
  src/helm/clients/vllm_client.py
Due: run-pre-commit

fix
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

Path conditions:
  run-pre-commit: any of: \.py$
  run-pre-commit-frontned: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
