Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit, run-pre-commit-frontned

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit
      name: run-pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
- repo: local
  hooks:
  - id: run-pre-commit-frontned
    name: run-pre-commit-frontned
    entry: ./pre-commit-frontend.sh
    language: script
    pass_filenames: false
    require_serial: true
    types_or: [javascript, jsx, ts, tsx]

Add MMLU instructions suffix run expander
  src/helm/benchmark/run_expander.py
Due: run-pre-commit

Update Nemotron-4 sequence length (#2901)
  src/helm/config/model_deployments.yaml
Due: none

Add more WMT-14 instructions to output_format_instructions run expander (#2902)
  src/helm/benchmark/run_expander.py
Due: run-pre-commit

More fixes
  src/helm/benchmark/annotation/call_center_annotator.py
  src/helm/benchmark/metrics/annotation_metrics.py
  src/helm/benchmark/run_specs/call_center_run_specs.py
  src/helm/benchmark/static/schema_call_center.yaml
Due: run-pre-commit

Add call center scenario (#2903)
  src/helm/benchmark/annotation/call_center_annotator.py
  src/helm/benchmark/metrics/annotation_metrics.py
  src/helm/benchmark/run_specs/call_center_run_specs.py
  src/helm/benchmark/scenarios/call_center_scenario.py
  src/helm/benchmark/static/schema_call_center.yaml
Due: run-pre-commit

Update examples for crfm-models API server
  src/helm/proxy/example_queries.py
Due: run-pre-commit

Release Lite v1.7.0
  helm-frontend/project_metadata.json
Due: none

Release Lite v1.7.0 (#2905)
  helm-frontend/project_metadata.json
Due: none

Update examples for crfm-models API server (#2904)
  src/helm/proxy/example_queries.py
Due: run-pre-commit

Add MMLU instructions suffix run expander (#2906)
  src/helm/benchmark/run_expander.py
Due: run-pre-commit

Remove directory structure from README.md
  README.md
Due: none

Remove directory structure from README.md (#2908)
  README.md
Due: none

Update sequence length for mixtral-8x7b-instruct-v0.1 on Together
  src/helm/config/model_deployments.yaml
Due: none

Use GPT-4o mini for call center annotator
  src/helm/benchmark/annotation/call_center_annotator.py
Due: run-pre-commit

add annotation dropdown, fix centering
  helm-frontend/public/config.js
  helm-frontend/src/components/AnnotationsDisplay.tsx
  helm-frontend/src/components/Predictions.tsx
Due: run-pre-commit-frontned

format
  helm-frontend/src/components/AnnotationsDisplay.tsx
  helm-frontend/src/components/Predictions.tsx
Due: run-pre-commit-frontned

fix config
  helm-frontend/public/config.js
Due: run-pre-commit-frontned

Use GPT-4o mini for call center annotator (#2911)
  src/helm/benchmark/annotation/call_center_annotator.py
Due: run-pre-commit

Update sequence length for mixtral-8x7b-instruct-v0.1 on Together (#2910)
  src/helm/config/model_deployments.yaml
Due: none

More fixes to webpages and LaTex (#2891)
  src/helm/benchmark/scenarios/vision_language/image2struct/utils_latex.py
  src/helm/benchmark/scenarios/vision_language/image2struct/webpage_scenario.py
Due: run-pre-commit

Add trust_remote_code=True to a few BHASA scenarios
  helm-frontend/public/config.js
  src/helm/benchmark/scenarios/bhasa_scenario.py
  src/helm/benchmark/static/schema_bhasa.yaml
Due: run-pre-commit, run-pre-commit-frontned

Remove stray commit
  src/helm/benchmark/static/schema_bhasa.yaml
Due: none

Revert other stray change
  helm-frontend/public/config.js
Due: run-pre-commit-frontned

Update BHASA schema
  src/helm/benchmark/static/schema_bhasa.yaml
Due: none

Add Call Center leaderboard landing page
  helm-frontend/src/assets/logos/accenture.png
  helm-frontend/src/assets/logos/cresta.png
  helm-frontend/src/components/Landing/CallCenterLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontned

Upgrade protobuf
  requirements.txt
Due: none

Fixes?
  requirements.txt
  setup.cfg
Due: none

Fix class name
  helm-frontend/src/components/Landing/CallCenterLanding.tsx
Due: run-pre-commit-frontned

Link to CRFM website from logo
  helm-frontend/src/components/NavBar/NavBar.tsx
Due: run-pre-commit-frontned

Link to CRFM website from logo (#2916)
  helm-frontend/src/components/NavBar/NavBar.tsx
Due: run-pre-commit-frontned

Add annotation dropdown & fix centering in individual Predictions (#2912)
  helm-frontend/src/components/AnnotationsDisplay.tsx
  helm-frontend/src/components/Predictions.tsx
Due: run-pre-commit-frontned

Build frontend
  src/helm/benchmark/static_build/assets/index-677a1558.js
  src/helm/benchmark/static_build/assets/index-8f210e6c.css
  src/helm/benchmark/static_build/assets/index-b2ae68e6.js
  src/helm/benchmark/static_build/assets/index-b8beba02.css
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontned

Add Call Center leaderboard landing page (#2915)
  helm-frontend/src/assets/logos/accenture.png
  helm-frontend/src/assets/logos/cresta.png
  helm-frontend/src/components/Landing/CallCenterLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontned

Update BHASA schema (#2914)
  src/helm/benchmark/static/schema_bhasa.yaml
Due: none

Add trust_remote_code=True to a few BHASA scenarios (#2913)
  src/helm/benchmark/scenarios/bhasa_scenario.py
Due: run-pre-commit

Changes for rebuttal
  src/helm/benchmark/presentation/run_entries_image2struct.conf
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/static/schema_image2struct.yaml
Due: run-pre-commit

Re-add image2webpage wild
  src/helm/benchmark/static/schema_image2struct.yaml
Due: none

add back music sheet
  src/helm/benchmark/presentation/run_entries_image2struct.conf
Due: none

cleanup
  src/helm/benchmark/presentation/run_entries_image2struct.conf
Due: none

Image2Struct - Changes for rebuttal (#2919)
  src/helm/benchmark/presentation/run_entries_image2struct.conf
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/static/schema_image2struct.yaml
Due: run-pre-commit
