Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit, run-pre-commit-frontned

run-pre-commit:
  name: run-pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontned:
  name: run-pre-commit-frontned
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Minor fixes
  docs/vhelm.md
Due: none

More minor fixes
  docs/vhelm.md
Due: none

Change TOC
  mkdocs.yml
Due: none

Update documentation for how to add scenarios and metrics. (#1933)
  docs/code.md
Due: none

Add VHELM to readme and documentation (#3049)
  README.md
  docs/reproducing_leaderboards.md
  docs/vhelm.md
  mkdocs.yml
Due: none

Clean up HEIM docs
  README.md
  docs/heim.md
  docs/index.md
  docs/installation.md
  docs/vhelm.md
Due: none

More fixes
  docs/heim.md
Due: none

Add HEIM paper link
  docs/heim.md
Due: none

Fix typos
  README.md
  docs/index.md
Due: none

Update developer docs for running locally and committing code. (#1965)
  docs/developer_setup.md
Due: none

Release v0.5.4
  CHANGELOG.md
  setup.cfg
Due: none

Fix changelog
  CHANGELOG.md
Due: none

More fixes
  CHANGELOG.md
Due: none

Release VHELM v2.0.1 leaderboard (#3048)
  helm-frontend/project_metadata.json
Due: none

flip LPIPS so that '1' is better
  src/helm/benchmark/metrics/vision_language/image_metrics.py
Due: run-pre-commit

Release v0.5.4 (#3051)
  CHANGELOG.md
  setup.cfg
Due: none

Clean up HEIM docs (#3050)
  README.md
  docs/heim.md
  docs/index.md
  docs/installation.md
  docs/vhelm.md
Due: none

Add link to VHELM paper
  README.md
  docs/index.md
  helm-frontend/src/components/VHELMLanding.tsx
Due: run-pre-commit-frontned

Add link to VHELM paper (#3052)
  README.md
  docs/index.md
  helm-frontend/src/components/VHELMLanding.tsx
Due: run-pre-commit-frontned

Build frontend
  src/helm/benchmark/static_build/assets/index-19bdae52.js
  src/helm/benchmark/static_build/assets/index-3ee38b3d.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontned

Release AIR-Bench v1.1.0
  helm-frontend/project_metadata.json
Due: none

Release AIR-Bench v1.1.0 (#3054)
  helm-frontend/project_metadata.json
Due: none

formatting with black
  src/helm/clients/bedrock_client.py
Due: run-pre-commit

formatting fix ran flake8 on changed files
  src/helm/clients/bedrock_client.py
Due: run-pre-commit

Addressed comments- Added Mistral,LLAMA models on bedrock (#3034)
  src/helm/clients/bedrock_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit

reformat using black
  src/helm/benchmark/metrics/vision_language/image_metrics.py
Due: run-pre-commit

flip LPIPS so that '1' is better (#3055)
  src/helm/benchmark/metrics/vision_language/image_metrics.py
Due: run-pre-commit

1.0 instead of 1
  src/helm/benchmark/metrics/vision_language/image_metrics.py
Due: run-pre-commit

fixes
  src/helm/benchmark/metrics/vision_language/image_metrics.py
Due: run-pre-commit

Image2struct v1.0.1 fixes (#3061)
  src/helm/benchmark/metrics/vision_language/image_metrics.py
Due: run-pre-commit

Added Gemini-1.5-Pro-002 and Gemini-1.5-Flash-002 (#3032)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Add Qwen2.5 Instruct Turbo models on Together AI
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Fix dates
  src/helm/config/model_metadata.yaml
Due: none

Add Qwen2.5 Instruct Turbo models on Together AI (#3063)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

upgrade of datasets.
  requirements.txt
  setup.cfg
Due: none

added financial_phrasebank and classification_metrics ext.
  src/helm/benchmark/metrics/classification_metrics.py
  src/helm/benchmark/run_specs.py
  src/helm/benchmark/scenarios/financial_phrasebank_scenario.py
Due: run-pre-commit

kpi_edgar and metrics added.
  src/helm/benchmark/metrics/kpi_edgar_metrics.py
  src/helm/benchmark/metrics/test_kpi_edgar_metrics.py
  src/helm/benchmark/scenarios/kpi_edgar_scenario.py
Due: run-pre-commit

added float_equiv to basic_metrics, which is needed in conv_fin_qa.
  src/helm/benchmark/metrics/basic_metrics.py
  src/helm/benchmark/scenarios/conv_fin_qa_scenario.py
Due: run-pre-commit

added legal_opinion
  src/helm/benchmark/scenarios/legal_opinion_scenario.py
Due: run-pre-commit

added echr_judge
  src/helm/benchmark/scenarios/echr_judge_scenario.py
Due: run-pre-commit

Path conditions:
  run-pre-commit: any of: \.py$
  run-pre-commit-frontned: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
