Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit, run-pre-commit-frontned

run-pre-commit:
  name: run-pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontned:
  name: run-pre-commit-frontned
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

fix trailing white
  src/helm/benchmark/annotation/harm_bench_annotator.py
Due: run-pre-commit

fixes
  src/helm/benchmark/annotation/anthropic_red_team_annotator.py
Due: run-pre-commit

last fixes
  src/helm/benchmark/annotation/anthropic_red_team_annotator.py
Due: run-pre-commit

fixes
  src/helm/benchmark/annotation/simple_safety_tests_annotator.py
  src/helm/benchmark/scenarios/simple_safety_tests_scenario.py
Due: run-pre-commit

Add run entries for HELM Safety (#2930)
  src/helm/benchmark/presentation/run_entries_safety.conf
Due: none

fixed
  src/helm/benchmark/run_specs/safety_run_specs.py
Due: run-pre-commit

comment
  src/helm/benchmark/scenarios/anthropic_red_team_scenario.py
Due: run-pre-commit

final fixes
  src/helm/benchmark/annotation/anthropic_red_team_annotator.py
Due: run-pre-commit

small fixes
  src/helm/benchmark/annotation/harm_bench_annotator.py
  src/helm/benchmark/scenarios/harm_bench_scenario.py
Due: run-pre-commit

Add AnthropicRedTeam scenario (#2830)
  src/helm/benchmark/annotation/anthropic_red_team_annotator.py
  src/helm/benchmark/run_specs/safety_run_specs.py
  src/helm/benchmark/scenarios/anthropic_red_team_scenario.py
Due: run-pre-commit

update to use paper's prompt
  src/helm/benchmark/annotation/harm_bench_annotator.py
Due: run-pre-commit

fix fmt
  src/helm/benchmark/annotation/harm_bench_annotator.py
Due: run-pre-commit

add new line
  src/helm/benchmark/annotation/harm_bench_annotator.py
Due: run-pre-commit

last fixes
  src/helm/benchmark/annotation/harm_bench_annotator.py
Due: run-pre-commit

fix
  src/helm/benchmark/run_specs/safety_run_specs.py
Due: run-pre-commit

Update requirements.txt
  requirements.txt
Due: none

Add SimpleSafetyTests Scenario, Make ModelAsJudge Annotators inherit (#2828)
  src/helm/benchmark/annotation/live_qa_annotator.py
  src/helm/benchmark/annotation/medication_qa_annotator.py
  src/helm/benchmark/annotation/simple_safety_tests_annotator.py
  src/helm/benchmark/run_specs/safety_run_specs.py
  src/helm/benchmark/scenarios/simple_safety_tests_scenario.py
Due: run-pre-commit

Add HarmBench Scenario (#2829)
  src/helm/benchmark/annotation/harm_bench_annotator.py
  src/helm/benchmark/run_specs/safety_run_specs.py
  src/helm/benchmark/scenarios/harm_bench_scenario.py
Due: run-pre-commit

fix url
  src/helm/benchmark/scenarios/harm_bench_scenario.py
Due: run-pre-commit

fix long line
  src/helm/benchmark/scenarios/harm_bench_scenario.py
Due: run-pre-commit

Split pragmatics into pressupositions and scalar implicatures
  src/helm/benchmark/scenarios/bhasa_scenario.py
Due: run-pre-commit

Update run entries for pragmatics
  src/helm/benchmark/presentation/run_entries_bhasa.conf
  src/helm/benchmark/presentation/run_entries_bhasa_zero_shot.conf
Due: none

Update requirements.txt to delete pyext
  requirements.txt
Due: none

Fix HarmBench scenario download URL (#2935)
  src/helm/benchmark/scenarios/harm_bench_scenario.py
Due: run-pre-commit

Disable sampling for BHASA FLORES (#2937)
  src/helm/benchmark/adaptation/common_adapter_specs.py
  src/helm/benchmark/run_specs/bhasa_run_specs.py
Due: run-pre-commit

Fix formatting
  src/helm/benchmark/scenarios/bhasa_scenario.py
Due: run-pre-commit

increase retry
  src/helm/proxy/retry.py
Due: run-pre-commit

diable logprobs
  src/helm/clients/vllm_client.py
Due: run-pre-commit

diable logprobs
  src/helm/proxy/retry.py
Due: run-pre-commit

Update requirements.txt (#2934)
  requirements.txt
Due: none

get rid of logprobs
  src/helm/clients/vllm_client.py
Due: run-pre-commit

format
  helm-frontend/src/components/Indicator/Indicator.tsx
  helm-frontend/src/components/Predictions.tsx
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontned

fixesss
  helm-frontend/public/config.js
  helm-frontend/src/routes/Run.tsx
  src/helm/benchmark/run_specs/classic_run_specs.py
Due: run-pre-commit, run-pre-commit-frontned

changes logged
  helm-frontend/public/config.js
  helm-frontend/src/components/Indicator/Indicator.tsx
  helm-frontend/src/components/Predictions.tsx
  helm-frontend/src/types/StatList.ts
  helm-frontend/src/utils/getStatCorrectness.ts
Due: run-pre-commit-frontned

fixes
  src/helm/benchmark/annotation/model_as_judge_annotator.py
Due: run-pre-commit

Remove fallback value for model as judge annotator (#2941)
  src/helm/benchmark/annotation/model_as_judge_annotator.py
Due: run-pre-commit

Add script for redacting scenario states.
  scripts/redact_scenario_states.py
Due: run-pre-commit

Add BANKING77 to Finance leaderboard
  src/helm/benchmark/static/schema_finance.yaml
Due: none

Path conditions:
  run-pre-commit: any of: \.py$
  run-pre-commit-frontned: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
