Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit, run-pre-commit-frontned

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit
      name: run-pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
- repo: local
  hooks:
  - id: run-pre-commit-frontned
    name: run-pre-commit-frontned
    entry: ./pre-commit-frontend.sh
    language: script
    pass_filenames: false
    require_serial: true
    types_or: [javascript, jsx, ts, tsx]

another fix
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

bugfix
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

update cost script
  scripts/estimate_cost.py
Due: run-pre-commit

more accurate computation
  scripts/estimate_cost.py
Due: run-pre-commit

fix main leaderboard
  src/helm/benchmark/static/schema_vhelm.yaml
Due: none

minor
  scripts/estimate_cost.py
Due: run-pre-commit

added check
  scripts/estimate_cost.py
Due: run-pre-commit

include grand totals
  scripts/estimate_cost.py
Due: run-pre-commit

Schema changes for VHELM (#2993)
  scripts/estimate_cost.py
  src/helm/benchmark/presentation/run_entries_vhelm.conf
  src/helm/benchmark/presentation/run_entries_vhelm_debug.conf
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/static/schema_vhelm.yaml
Due: run-pre-commit

Add test for computing win rates
  src/helm/benchmark/presentation/test_summarize.py
Due: run-pre-commit

Style changes
  src/helm/benchmark/presentation/test_summarize.py
Due: run-pre-commit

Add test for computing win rates (#2999)
  src/helm/benchmark/presentation/test_summarize.py
Due: run-pre-commit

Handle ties in win rate computation
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/presentation/test_summarize.py
Due: run-pre-commit

Handle ties in win rate computation (#3001)
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/presentation/test_summarize.py
Due: run-pre-commit

Change annotator ensembling logic
  src/helm/benchmark/annotation/anthropic_red_team_annotator.py
  src/helm/benchmark/annotation/harm_bench_annotator.py
  src/helm/benchmark/annotation/model_as_judge.py
  src/helm/benchmark/annotation/simple_safety_tests_annotator.py
  src/helm/benchmark/annotation/xstest_annotator.py
  src/helm/benchmark/metrics/safety_metrics.py
Due: run-pre-commit

Remove prints
  src/helm/benchmark/metrics/safety_metrics.py
Due: run-pre-commit

Display null annotator values correctly in the frontend
  helm-frontend/src/components/AnnotationsDisplay.tsx
Due: run-pre-commit-frontned

Display null annotator values correctly in the frontend (#3003)
  helm-frontend/src/components/AnnotationsDisplay.tsx
Due: run-pre-commit-frontned

Build frontend
  src/helm/benchmark/static_build/assets/index-58f97dcd.js
  src/helm/benchmark/static_build/assets/index-b6ad1ddb.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontned

Change how safety annotator scores are aggregated (#3002)
  src/helm/benchmark/annotation/anthropic_red_team_annotator.py
  src/helm/benchmark/annotation/harm_bench_annotator.py
  src/helm/benchmark/annotation/model_as_judge.py
  src/helm/benchmark/annotation/simple_safety_tests_annotator.py
  src/helm/benchmark/annotation/xstest_annotator.py
  src/helm/benchmark/metrics/safety_metrics.py
Due: run-pre-commit

Add annotator success to HELM Safety schema
  src/helm/benchmark/static/schema_safety.yaml
Due: none

Add landing page for Safety
  helm-frontend/src/components/Landing/SafetyLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontned

Add annotator success to HELM Safety schema (#3005)
  src/helm/benchmark/static/schema_safety.yaml
Due: none

remove type parameter from AbstractContextManager
  src/helm/common/key_value_store.py
Due: run-pre-commit

Remove type parameter from AbstractContextManager for KeyValueStore (#3007)
  src/helm/common/key_value_store.py
Due: run-pre-commit

Fix test for computing win rates when lower_is_better is True
  src/helm/benchmark/presentation/test_summarize.py
Due: run-pre-commit

Fix prompt for Banking77
  src/helm/benchmark/run_specs/finance_run_specs.py
  src/helm/benchmark/scenarios/raft_scenario.py
Due: run-pre-commit

Fix test for computing win rates when lower_is_better is True (#3008)
  src/helm/benchmark/presentation/test_summarize.py
Due: run-pre-commit

Fix prompt for BANKING77 (#3009)
  src/helm/benchmark/run_specs/finance_run_specs.py
  src/helm/benchmark/scenarios/raft_scenario.py
Due: run-pre-commit

Add landing page for HELM Safety (#3006)
  helm-frontend/src/components/Landing/SafetyLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontned

Don't downgrade pip in install-dev.sh
  install-dev.sh
Due: none

Move pre-commit to pre-push
  .pre-commit-config.yaml
Due: none

Move pre-commit to pre-push (#3013)
  .pre-commit-config.yaml
Due: none

Don't downgrade pip in install-dev.sh (#3011)
  install-dev.sh
Due: none

update VHELM landing page
  helm-frontend/src/assets/vhelm/vhelm-aspects.png
  helm-frontend/src/assets/vhelm/vhelm-framework.png
  helm-frontend/src/assets/vhelm/vhelm-model.png
  helm-frontend/src/components/VHELMLanding.tsx
Due: run-pre-commit-frontned

added run_entries and schema for evaluations on legal reasoning
  src/helm/benchmark/presentation/run_entries_legal.conf
  src/helm/benchmark/static/schema_legal.yaml
Due: none

Fix test
  .github/workflows/frontend.yml
Due: none

More rigorous Yarn checks
  .github/workflows/frontend.yml
  pre-commit-frontend.sh
Due: none

Improve pre-commit messages
  pre-commit-frontend.sh
  pre-commit.sh
Due: none

Update pre-commit and CI for frontend
  .github/workflows/frontend.yml
  .pre-commit-config.yaml
  helm-frontend/package.json
  pre-commit-frontend.sh
Due: none
