Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit, run-pre-commit-frontned

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit
      name: run-pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
- repo: local
  hooks:
  - id: run-pre-commit-frontned
    name: run-pre-commit-frontned
    entry: ./pre-commit-frontend.sh
    language: script
    pass_filenames: false
    require_serial: true
    types_or: [javascript, jsx, ts, tsx]

Update developer setup documentation
  docs/developer_setup.md
Due: none

Improve developer setup
  docs/developer_setup.md
Due: none

Revert section order
  docs/developer_setup.md
Due: none

Update developer setup instructions (#3016)
  docs/developer_setup.md
Due: none

Added configuration for running legal evaluations (#3015)
  src/helm/benchmark/presentation/run_entries_legal.conf
  src/helm/benchmark/static/schema_legal.yaml
Due: none

Improve local frontend pre-commit (#3012)
  .github/workflows/frontend.yml
  .pre-commit-config.yaml
  helm-frontend/package.json
  pre-commit-frontend.sh
  pre-commit.sh
Due: none

working aggregation
  src/helm/benchmark/presentation/schema.py
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/static/schema_safety.yaml
Due: run-pre-commit

fix
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

fix err
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

cast
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

fmt
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

try
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

update text description
  helm-frontend/src/components/VHELMLanding.tsx
Due: run-pre-commit-frontned

another
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

finish precommit errs
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

fixes
  src/helm/benchmark/presentation/schema.py
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/static/schema_safety.yaml
Due: run-pre-commit

remove unused import
  src/helm/benchmark/presentation/schema.py
Due: run-pre-commit

comment
  src/helm/benchmark/presentation/schema.py
Due: run-pre-commit

s
  src/helm/benchmark/presentation/schema.py
Due: run-pre-commit

fix most coments
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

small fix
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

bigger fix
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

err
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

fixed
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit

Upgrade tensorstore
  requirements.txt
Due: none

Add mean row aggregation to HELM summarize (#2997)
  src/helm/benchmark/presentation/schema.py
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/static/schema_safety.yaml
Due: run-pre-commit

Add more clarifications
  docs/adding_models.md
Due: none

Documentation: Adding Models
  docs/adding_models.md
Due: none

Fixes
  docs/custom_models.md
Due: none

Custom models
  docs/custom_models.md
Due: none

Normalize lpips and ssim
  src/helm/benchmark/metrics/vision_language/image_metrics.py
Due: run-pre-commit

Documentation: Custom models (#2463)
  docs/custom_models.md
Due: none

Rename adding_new_models.md
  docs/adding_new_models.md
  mkdocs.yml
Due: none

Rename adding_new_models.md (#3023)
  docs/adding_new_models.md
  mkdocs.yml
Due: none

Move adding new models documentation
  docs/adding_new_models.md
  docs/developer_adding_new_models.md
Due: none

Fix title
  docs/adding_new_models.md
  mkdocs.yml
Due: none
